slim/mobilenet_models/*
slim/mobilenet_v2_result_models/*
slim/mobilenet_v2_results/*
slim/mobilenet_v1_results/*
slim/inception_models/*
slim/inception_v1_result_models/*
slim/inception_v1_results/*
slim/inception_v2_result_models/*
