slim/mobilenet_models/*
slim/mobilenet_v2_result_models/*
slim/mobilenet_v2_results/*
slim/mobilenet_v1_results/*
slim/inception_models/*
slim/inception_v1_result_models/*
slim/inception_v1_results/*
slim/inception_v2_result_models/*
slim/mobilenet_v1_top_acc_model_0_.tflite
slim/mobilenet_v1_top_acc_model_1_.tflite
slim/mobilenet_v2_top_acc_model_3_.tflite
mobilenet_v1_modified.tflite
mobilenet_v2_modified.tflite
inception_v1_modified.tflite
v1_inception_out.txt
v1_out.txt
out.txt
v1_range1_layer1_out.txt
